{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Clientes</h1>
       <ul>Mateo Alexander</ul>
       <ul>Carmen Esther</ul>
       <ul>Viviana Betzabe</ul>


    </div>




</div>

  



{{> footer }}