{{> head }}



    {{> navbar }}



    <div class="jumbotron">
        <h1>Kriss Galiano Orbezo</h1>
        <p class="lead">Semana 4</p>
        <hr class="my-4">
        <p>Tarea de Soluciones en la nube</p>
        <p class="lead">
            
        </p>
    </div>



{{> footer }}